/*** GLOBALES ***/
:root,
[data-bs-theme=light] {
    --bs-link-color-rgb: #000;
    --bs-warning: #d9a300;
    --bs-warning-rgb: 108, 117, 125;
    --bs-warning-border-subtle: #d9a300;
    --bs-secondary-select2-disabled: #ccc;
    --cm-list-group-active-color: #343a40;
    --cm-widget-color: #343a40;
}

[data-bs-theme=dark] {
    --bs-link-color-rgb: #d9a300;
    --bs-warning: #d9a300;
    --bs-warning-rgb: 255, 193, 7;
    --bs-warning-border-subtle: #d9a300;
    --bs-secondary-select2-disabled: #343a40;
    --cm-list-group-active-color: #ccc;
    --cm-widget-color: #eee;
}

/*** ICONO DARKMODE ***/
svg.bi {
    width: 1.6em;
    height: 2.5em;
    vertical-align: center;
    fill: currentColor;
}
.dropdown-item.active {
    background-color: var(--bs-warning);
    color: var(--bs-black);
}
.dropdown-menu {
    --bs-dropdown-link-active-bg: var(--bs-warning);
}

/*** HEADER ***/
.app-sidebar__toggle {
    padding: 5px 15px;
    color: var(--bs-black);
}
.app-sidebar__user-avatar {
    width: 48px;
    background: #495057;
    padding: 6px;
}
.app-header {
    background-color: var(--bs-warning);
}
.app-sidebar__toggle:focus, .app-sidebar__toggle:hover{
    background: var(--bs-warning);
}
.app-nav {
    margin-right: -13px;
}
@media (min-width: 480px) {
    .app-nav {
        margin-right: -28px;
    }
}
.app-nav__item{
    color: var(--bs-black);
    padding: 18px 25px;
    transition: color 0.2s ease;
}
.app-nav__item:hover, .app-nav__item:focus {
    background: var(--bs-warning);

}
@media (min-width: 768px) {
    .app-header__logo {
        background-color: #d9a300;
    }
}

/*** MAIN ***/
.app-content {
    background-color: var(--bs-secondary-bg);
}
.app-title {
    background-color: var(--bs-body-bg);
    margin-top: -20px;
}
.breadcrumb-item a {
    color: var(--bs-link-color-rgb);
}

.tile {
    background-color: var(--bs-body-bg);
}


/**** FORMULARIO ****/
.form-control {
    border: 2px solid var(--bs-dark-border-subtle);
}
.form-control:focus {
    border-color: var(--bs-warning-border-subtle);
}

.input-group > .form-control, .input-group > .form-select, .input-group > .form-floating{
    color: #d9a300;
}

/*** BOTONES ***/
.btn-warning {
    --bs-btn-bg: #d9a300;
    --bs-btn-border-color: #d9a300;
    --bs-btn-hover-bg: #d6a921;
    --bs-btn-hover-border-color: #d3a313;
    --bs-btn-active-bg: #d9b033;
    --bs-btn-active-border-color: #d3a313;
    --bs-btn-disabled-bg: #d9a300;
    --bs-btn-disabled-border-color: #d9a300;
}

/*** NAVEGACIÓN ***/
.nav {
    --bs-nav-link-color: #d9a300bf;
}

.app-title .nav-link:hover {
    color: var(--bs-warning);
}

/*** LISTAS ***/
.list-group-item.active {
    background-color: var(--bs-secondary-bg);
    border-color: var(--bs-list-group-border-color);
    color: var(--cm-list-group-active-color);
}

/****** PLUGUIN SELECT2 ******/
.select2-container--default .select2-selection--single {
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-dark-border-subtle);
}
.select2-container .select2-selection--single {
    height: 35px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 33px;
    padding-left: 14px;
    color: var(--bs-body-color);
    font-style: italic;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
    width: 30px;
}
.select2-container--default .select2-results__option--selected {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--bs-warning);
    color: var(--bs-black);
}
.select2-dropdown {
    background-color: var(--bs-body-bg);
    border-color:  var(--bs-dark-border-subtle);
    color: var(--bs-body-color);
}
.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: var(--bs-secondary-select2-disabled);
    cursor:not-allowed;
}

/****** LOGIN ******/
.material-half-bg {
    background-color: #d9a300;
}
.material-half-bg .cover {
    background-color: #222d32;
}

.login-content .login-box {
    min-height: 430px;
    background-color: #222d32;
    box-shadow: 0 0 5px inset;
}
.login-content .logo {
    font-family: monospace;
    font-style: italic;
}

.login-content .login-box .login-head {
    color: #ccc;
}

/***** LOADING SVG *****/
#divLoading {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(254, 254, 255, .65);
    z-index: 9999;
    display: none;
}

/*** PAGINACION ***/
.pagination {
    --bs-pagination-bg: #495057;
    --bs-pagination-color: var(--bs-white);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(210, 165, 2, 0.098);
}
.page-link.active, .active > .page-link {
    background-color: #d9a300;
    border-color: #d9b033;
}
.page-link.disabled, .disabled > .page-link {
    background-color: #495057;
    color: var(--bs-gray-500);
}
.page-link:hover {
    color: #d9a300;
    background-color: var(--bs-pagination-hover-bg);
    border-color: #d9a300;
}

/*** MODAL ***/
.myModal{
    background-color: rgba(0,0,0, 1) !important;
}

/*** DATEPICKER ***/
.ui-datepicker-calendar {
    display: none;
}

/*** WIDGET ***/
.widget-small {
    color: var(--cm-widget-color);
}

/*** ACCORDION ***/
.accordion-button:not(.collapsed) {
    color: var(--bs-warning);
}